.expert {
    i{
        margin:0 10px;
    }
    img{
        width: 100%;
    }
    .expert-info {
        padding:60px 20px;
        line-height: 40px;
h2{
    font-size: 40px;
    font-weight: 500;
}
p{
font-size: 20px;
color:gray;
}
        button {
            color: white;
            background-color: #28AE60;
            padding: 6px 40px;
            border-radius: 15px;
            margin: 50px 10px;
            border: none;

        }
    }
}