nav {
    background-color: #2C2C2C;
    color: white;
    padding: 20px 0;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: 999;

    button {
        background-color: #28AE60;
        border: none;
        padding: 5px 30px;
        text-align: center;
        font-weight: 600;
        border-radius: 5px;
        a{
            color:white;
            &:hover{
                color:black;
            }
        }
    }

    a {
        color: white;
        margin-left: 25px;
        text-decoration: none;

        &:hover {
            color: #28AE60;
            cursor: pointer;
        }

    }

    h2 {
        font-weight: 700;
    }
}